/*================================================================
=            Student Offering card Detail Page Start             =
==================================================================*/

/*    Match Result file > heading   */

/*    Card Detail Page  */
.company-card-detail {
  width: 100%;
  height: 100%;
  overflow: hidden;
 
}
.company-card-detail-container {
  width: 100%;
  height: 94%;
  padding: 2.5rem;
  margin-top: 1.3rem;
  overflow: auto;
  border: 1px solid rgba(112, 112, 112, 20%);
  position: relative;
  padding-bottom: 1.9rem;
}
.company-card-detail-wrapper {
  width: 100%;
  height: 95%;

  margin-bottom: 30px;
}

.student-company-card-detail-percentage {
  display: inline-block;
  background-color: #3cbf31;
  color: #fff;
  position: absolute;
  top: 0%;
  right: 0%;
  padding: 1.2rem;
  font-size: 1.56rem;
  font-weight: 500;
}

.company-card-detail-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 3.6rem;
}
.company-card-detail-header-image {
  padding-right: 1.2rem;
  flex-basis: 50%;
}
.company-card-detail-header-text {
  flex-basis: 50%;
  color: #454545;
  font-size: 3.43rem;
  font-weight: bold;
}
.company-card-detail-header-line {
  padding-left: 2.5rem;
  border-left: 1px solid #707070;
}
.company-card-detail-location {
  flex-basis: 50%;
  font-size: 1.2rem;
  padding-right: 2.5rem;
}
.company-card-detail-header-text2 {
  padding-left: 2.5rem;
}

/*    company-card Card Item   */
.company-card-card-item-bordered {
  border: 1px solid #2879d9;
  border-radius: 2.56rem;
}

.company-card-detail-content-detail {
  flex-basis: 47%;
  margin: 0px 40px;
  padding: 1rem 0.5rem;
  font-size: 1.37rem;
}

.company-card-detail-content {
  display: flex;
  justify-content: center;
}
.company-card-detail-date-headings {
  display: flex;
  justify-content: flex-start;
  padding-top: 3rem;
}

.company-card-detail-date-heading {
  flex-basis: 25%;
  margin-right: 1.9rem;
  font-size: 1.12rem;
}
.company-card-detail-date-container {
  display: flex;
  justify-content: flex-start;
  padding-bottom: 3rem;
  gap: 1.9rem;
}
.company-card-detail-skills-warapper {
  display: flex;
  justify-content: flex-start;
  padding-bottom: 1.2rem;
  gap: 1.9rem;
}
.company-card-detail-date {
  flex-basis: 23%;
  padding: 1rem 0.5rem;
  font-size: 1.37rem;
  font-weight: bold;
  margin-right: 1.2rem;
}
.company-card-detail-skills-heading {
  padding: 1rem 0.5rem;
  flex-basis: 40%;
  font-size: 1.37rem;
  font-weight: bold;
}
.company-card-detail-skills {
  background-color: #f6c40d;
  color: #fff;
  border-radius: 2.56rem;
  padding: 3px 1rem;
  gap: 1.9rem;
  align-items: center;
  flex-basis: 20%;
  display: flex;
  justify-content: space-between;
  font-size: 1.12rem;
}
.company-card-detail-buttons-container {
  display: flex;
  justify-content: flex-end;
  gap: 1.9rem;
  padding-top: 2rem;
  padding-bottom: 4rem;
}

.MuiInputBase-input {
  color: #2879d9;
}

.company-card-detail-description {
  margin-bottom: 2rem;
}
/*================================================================
  =           Student company-carding card Detail Page End           =
  ==================================================================*/

.custom-dropdown {
  display: flex;
  align-items: center;
}
.date-dropdown {
  flex-basis: 23% !important;
  font-size: 1.37rem !important;
}
.custom-dropdown .btn {
  box-shadow: none !important;
}
.custom-dropdown .btn-primary.dropdown-toggle {
  background-color: transparent !important;
  border: 1px solid #2879d9 !important;
}
.custom-dropdown .btn-primary {
  background-color: transparent !important;
  color: #454545;
  width: 100%;
  font-size: 1.37rem !important;
  font-weight: bold;
  padding: 0.6rem !important;
  border-radius: 2.56rem !important;
}

.custom-dropdown .btn-primary:not([disabled]):not(.disabled):active,
.btn-primary:not([disabled]):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: #fff !important;
  width: 100%;
  font-size: 1.37rem !important;
  font-weight: bold;
  padding: 0.6rem !important;
  background-color: #2879d9 !important;
  border-radius: 2.56rem !important;
}
.custom-dropdown .btn-primary.dropdown-toggle:hover,
.custom-dropdown .btn-primary.dropdown-toggle:focus {
  background-color: #2879d9 !important;
}
.custom-dropdown .dropdown-menu.show {
  width: 100% !important;
}
/* .custom-dropdown.show>.btn-primary.dropdown-toggle{
    color: #454545 !important;
  } */

.date-dropdown .dropdown-toggle::after {
  margin-left: 50% !important;
}

/*    Skills dropdown     */
.custom-dropdown .dropdown-menu {
  font-size: 1.37rem !important;
}
.skills-dropdown {
  flex-basis: 35% !important;
  font-size: 1.37rem !important;
}

.skills-dropdown .dropdown-toggle::after {
  margin-left: 5% !important;
}

@media screen and (max-width: 1100px) {

  .company-card-detail-wrapper .sliderBox .makeStyles-input-21 {
    top: 0.7rem !important;
  }
}